= simple_nested_form_for(@goal) do |f|
  .step.active
    = f.input :name
    = f.input :reason, :input_html => { :rows => 3 }
    = f.input :deadline, :as => :date
    %a.next(href="#") Next
  .step
    
    .tasks
      %h4 My very next step is...
      %input.task(name="goals[tasks][0]" type="text")
    %a.back(href="#") Back
    %a.next(href="#") Next


  - unless current_user
    .step
      %a.back(href="#") Back
      
      %a(href="#{user_omniauth_authorize_path(:facebook)}" class="popup facebook-connect-button" data-width="600" data-height="400")
