= simple_nested_form_for(@goal) do |f|
  = f.input :name
  = f.input :deadline, :as => :date
  .tasks
    %h4 What specific tasks do you need to do to accomplish your goal?
    %ol
      = f.fields_for :tasks do |task_form|
        %li
          = task_form.input :name
          = task_form.input :deadline, :as => :date
          = task_form.link_to_remove "Remove this task"
      %p= f.link_to_add "Add a task", :tasks
  = f.button :submit
