<!DOCTYPE html>
<html>
<head>
  <title>Motiv8ion</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Satisfy|Terminal+Dosis' rel='stylesheet' type='text/css'>
<!-- start Mixpanel --><script type="text/javascript">var mpq=[];mpq.push(["init","8753e85e9927989cefca7ab069f0672e"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
</script><!-- end Mixpanel -->
</head>
<body>
	<div id="header">
  
		<div class="inner">
      <a id="logo"></a><div class="pitch">Helping you achieve your goals with the help of your friends.</div>
			<% unless current_user %>
				<a href="<%=user_omniauth_authorize_path(:facebook)%>" class="popup facebook-connect-button" data-width="600" data-height="400"></a><div class="clear"></div>
			<% end %>
      
      <div class="clear"></div>
		</div>
    
	</div>
  
      <%= yield :header %>
  <p class="notice"><%= flash[:notice] %></p>
  <p class="error"><%= flash[:error] %></p> 

  <% if Rails.env.development? && !current_user %>
    <%= link_to "Testing Login", new_user_session_path %>
  <% end %>
	<div id="container">				
    <div id="body">
      <div class="inner">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <div class="inner">
      </div>
    </div>
</div>
      <% if current_user %>
          <%= link_to "Logout", destroy_user_session_path, :method => "delete" %>
      <% end %>
      

</body>
</html>
