<!DOCTYPE html>
<html>
<head>
  <title>Motiv8ion</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Satisfy|Terminal+Dosis' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="header">
		<div class="inner">
			<a id="logo"></a>
			<% unless current_user %>
				<a href="<%=user_omniauth_authorize_path(:facebook)%>" class="popup facebook-connect-button" data-width="600" data-height="400"></a><div class="clear"></div>
			<% end %>
			<div class="clear"></div>
		</div>
	</div>
  <p class="notice"><%= flash[:notice] %></p>
  <p class="error"><%= flash[:error] %></p> 

  <% if Rails.env.development? && !current_user %>
    <%= link_to "Testing Login", new_user_session_path %>
  <% end %>
  <% if current_user %>
    Welcome, <%= current_user.first_name %>
    <%= image_tag current_user.image_url %>
    <%= link_to "Logout", destroy_user_session_path, :method => "delete" %>
  <% end %>
	<div id="container">				
	<div id="body">
<%= yield %>
	</div>
	<div id="footer">
		<div class="inner">
		</div>
	</div>
</div>

</body>
</html>
